<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专栏-文章</title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body style="background: #e0e0e0">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="">在线编程</a></dd>
            <dd><a href="">模拟笔试</a></dd>
            <dd><a href="">教材全解</a></dd>
            <dd><a href="/bs/index/uni">考研真题</a></dd>
            <dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="">试题广场</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">面试</a>
        <dl class="layui-nav-child">
            <dd><a href="">面经总结</a>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
            <dd><a href="/bs/index/project_action">项目实战</a></dd>
            <dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="/bs/index/technology">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/bs/index/post">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/talk">讨论区</a></dd>
            <dd><a href="/bs/index/circle">圈子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>
<div>
    <div align="center" style="background: #5f5f5f"><img src="http://localhost:10086/img/b_img/bg_blog.jpg"/></div>
    <div>
        <div id="top1" style="background: #ffffff; position: relative; left: 81px;top: 20px; width: 800px">
            <ul class="flow-default yuyue_list" id="LAY_demo1">
                <li><h2 style="color: #5FB878; text-align: center">专栏-文章列表</h2></li>
            </ul>
        </div>
    </div>

    <div style="position: absolute; left: 70%; top: 60%; background: #ffffff; width: 340px">
        <div style="margin: 20px">
            <span class="layui-badge">热</span>
            <strong>精选作者</strong>
        </div>
        <div style="margin: 20px">
            <div class="pic">
                <img style="width: 60px; height: 60px"
                     src="https://uploadfiles.nowcoder.com/images/20191022/416907265_1571736625708_B0EA1810D347D5D545F7DADB4312F40F"
                     alt="">
                <span>海神唐三</span>
            </div>
        </div>
        <div style="margin: 20px">
            <p>曾就职于阿里、美团点评和某港股上市公司，拥有8年“电商和本地生活、2B和2C、平台和工具”的相关产品经验。面试过的产品经理（校招和社招）不下200人，对互联网产品的面试有着深刻的体会。</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/blog/blog.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>

</html>