<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="book_title"></title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body style="background: #e0e0e0">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="">在线编程</a></dd>
            <dd><a href="">模拟笔试</a></dd>
            <dd><a href="">教材全解</a></dd>
            <dd><a href="">考研真题</a></dd>
            <dd><a href="">期末考题</a></dd>
            <dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="">试题广场</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">面试</a>
        <dl class="layui-nav-child">
            <dd><a href="">AI面经总结</a>
            <dd><a href="">模拟面试</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">课程</a></dd>
            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
            <dd><a href="">项目实战</a></dd>
            <dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">讨论区</a></dd>
            <dd><a href="">帖子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">竞赛</a></dd>
            <dd><a href="">offer神器</a></dd>
            <dd><a href="">职业身份验证</a></dd>
            <dd><a href="">牛人堂</a></dd>
            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>

<div>
    <div class="layui-row" style="margin-top: 20px">
        <div class="layui-col-md-offset2 layui-col-md6">
            <div style="background: #ffffff" id="book_detail">
            </div>


            <div style="background: #ffffff; margin-top: 15px">
                <div style="margin-top: 10px; margin-left: 10px">
                    <span class="layui-badge-dot"></span>
                    <b><span style="font-size: 16px;">一句话评论</span></b>
                </div>
                <div style="margin-top: 20px; margin-left: 20px">
                    <span>暂时还没有人评论</span>
                </div>

                <div style="margin: 20px" class="layui-input-block layui-row">
                    <input style="height: 35px; margin-bottom: 20px" class="layui-col-md7 layui-input-inline" type="text" placeholder="一句话说明你的阅读体验" autocomplete="off">
                    <button style="margin-bottom: 20px" class="layui-btn layui-col-md-offset1 layui-col-md2">回复</button>
                </div>
            </div>

            <div style="margin-top: 15px; background: #ffffff">
                <div style="margin-top: 10px; margin-left: 10px">
                      <span class="layui-badge-dot"></span>
                      <b><span style="font-size: 16px;">讨论</span></b>
                </div>

                <div style="margin: 25px" id="talk_content">
                    <div style="text-align: center">
                        <img class="layui-circle" src="http://localhost:10086/img/lib_img/sofa.png">
                        <br/>
                        <span>暂无评论</span>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>

            <div style="margin-top: 15px; background: #ffffff">
                <textarea id="demo" style="display: none;"></textarea>
                <button style="margin: 20px;" class="layui-btn">回复</button>
            </div>
        </div>
        <div class="layui-col-md3" style="background: #ffffff; margin-left: 15px">
            <div style="margin-top: 10px; margin-left: 10px">
                <span class="layui-badge-dot"></span>
                <b><span style="font-size: 16px;">热门图书</span></b>
            </div>
            <div class="layui-row">
                <img style="margin: 12px; height: 110px" class="layui-col-md3" src="http://localhost:10086/img/bookImg/9787302089773.jpg">
                <img style="margin: 12px; height: 110px" class="layui-col-md3" src="http://localhost:10086/img/bookImg/9787547017333.jpg">
                <img style="margin: 12px; height: 110px" class="layui-col-md3" src="http://localhost:10086/img/bookImg/9787111128069.jpg">
                <img style="margin: 12px; height: 110px" class="layui-col-md3" src="http://localhost:10086/img/bookImg/9787115388889.jpg">
                <img style="margin: 12px; height: 110px" class="layui-col-md3" src="http://localhost:10086/img/bookImg/9787115261960.jpg">
                <img style="margin: 12px; height: 110px" class="layui-col-md3" src="http://localhost:10086/img/bookImg/9787111090984.jpg">
                <button class="layui-btn layui-btn-primary" style="margin: 20px;  width: 300px">查看全部</button>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>
<script type="text/javascript" src="../../../mianshi/js/library/book.js"></script>
<script>
layui.use('layedit', function(){
  var layedit = layui.layedit;
  layedit.build('demo'); //建立编辑器
});
</script>
</html>