<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title"></title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body style="background: #e0e0e0">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="">在线编程</a></dd>
            <dd><a href="">模拟笔试</a></dd>
            <dd><a href="">教材全解</a></dd>
            <dd><a href="/bs/index/uni">考研真题</a></dd>
<dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="">试题广场</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
<dd><a href="/bs/index/project_action">项目实战</a></dd><dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="/bs/index/technology">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/bs/index/post">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/talk">讨论区</a></dd>
            <dd><a href="/bs/index/circle">圈子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>

<div class="layui-row" style="margin-top: 20px">
    <div style="background: #ffffff" class="layui-col-md-offset1 layui-col-md10 layui-row" id="circle_detail">
       <div class="layui-col-md1" style="margin: 20px;">
          <img width="110px" height="110px" src="http://localhost:10086/img/cir_img/63_1564995409745_36BDAB378CEEB4E9F6D6A3BC24AD6C2563_1564995409745_36BDAB378CEEB4E9F6D6A3BC24AD6C25.png">
       </div>
       <div style="margin-left: 20px; margin-top: 20px" class="layui-col-md7">
            <b style="font-size: 18px">许愿池</b>
            <br/>
            <span style="color: grey">本圈子为牛友许愿专用，可以许愿求offer，求笔试，求面试，求上岸，求offer call，求实习，求转正，甚至于求男友，求女友，求好运等等</span>
            <br/>
            <br/>
            <button class="layui-btn-primary layui-btn-radius layui-btn-sm">求offer</button>
       </div>
       <div class="layui-col-md-offset1 layui-col-md1" style="margin-top: 40px; text-align: center" >
            <button class="layui-btn-radius layui-btn layui-btn-lg">+加入圈子</button>
            <span>11</span>
       </div>
    </div>

    <div class="layui-col-md-offset1 layui-col-md7" style="margin-top: 15px;background: #ffffff">
        <span>123</span>
    </div>

    <div class="layui-col-md2 layui-row" style="width: 327px; margin-top: 15px; margin-left: 15px; background: #ffffff">
        <div class="layui-col-md-offset1 layui-col-md7" style="margin-top: 15px">
            <img class="layui-circle" width="45px" height="45px" src="http://localhost:10086/img/h_img/default.jpg">
            <span style="color: #d43f3a; font-size: 15px">南方男孩</span>
        </div>

        <div style="margin-top: 20px" class="layui-col-md-offset1 layui-col-md2">
            <button class="layui-btn layui-btn-danger layui-btn-radius layui-btn-sm">圈主</button>
        </div>

        <div style="margin-top: 20px" class=" layui-col-md-offset1 layui-col-md11">
            <span style="color: #5FB878">本群创建于：2019-08-05</span>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>
<script type="text/javascript" src="../../../mianshi/js/circle/circle_detail.js"></script>
</html>