<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>牛币兑换中心</title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body style="background: #e0e0e0">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="">在线编程</a></dd>
            <dd><a href="">模拟笔试</a></dd>
            <dd><a href="">教材全解</a></dd>
            <dd><a href="/bs/index/uni">考研真题</a></dd>
<dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="">试题广场</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
<dd><a href="/bs/index/project_action">项目实战</a></dd><dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="/bs/index/technology">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/bs/index/post">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/talk">讨论区</a></dd>
            <dd><a href="/bs/index/circle">圈子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>

<div align="center" style="background: #d43f3a"><img src="http://localhost:10086/img/b_img/bg_shop.png"/></div>

<div class="layui-row" style="margin-top: 20px; border: 1px solid #e2e2e2">
    <div class="layui-col-md8 layui-col-sm-offset1" style="background: #ffffff">
        <div style="margin: 15px" id="layerDemo">
            <span class="layui-badge-dot"></span>
            <strong style="font-size: 15px">牛币兑换中心</strong>
            <button data-method="notice" class="layui-btn layui-icon layui-icon-help"
                    style="background: #ffffff; font-size: 15px; color: #31b0d5"></button>
        </div>

        <div class="layui-row">
            <div class="layui-col-md2" style="margin-left: 80px; margin-right: 20px;">
                <img src="http://localhost:10086/img/type_img/2.png"><br/>
                <span>牛客定制</span>
            </div>

            <div class="layui-col-md2" style="margin-left: 20px; margin-right: 20px;">
                <img src="http://localhost:10086/img/type_img/5.png"><br/>
                <span>热门商品</span>
            </div>

            <div class="layui-col-md2" style="margin-left: 20px; margin-right: 20px;">
                <img src="http://localhost:10086/img/type_img/3.png"><br/>
                <span>热门周边</span>
            </div>

            <div class="layui-col-md2" style="margin-left: 20px; margin-right: 20px;">
                <img src="http://localhost:10086/img/type_img/4.png"><br/>
                <span>专业书籍</span>
            </div>
        </div>
        <div id="wareinfo">
            <div class="layui-row" id="n_ware" style="margin: 15px">
                <i class="layui-icon layui-icon-cart" style="float: top; color: #FD482C; font-size: 16px">牛客定制</i>
                <br/>
            </div>

            <div data-method="offset" data-type="auto" class="layui-row" id="hw_ware" style="margin: 15px">
                <i class="layui-icon layui-icon-cart" style="float: top; color: #FD482C; font-size: 16px">热门商品</i>
                <br/>
            </div>

            <div data-method="offset" data-type="auto" class="layui-row" id="hz_ware" style="margin: 15px">
                <i class="layui-icon layui-icon-cart" style="float: top; color: #FD482C; font-size: 16px">热门周边</i>
                <br/>
            </div>

            <div data-method="offset" data-type="auto" class="layui-row" id="b_ware" style="margin: 15px">
                <i class="layui-icon layui-icon-cart" style="float: top; color: #FD482C; font-size: 16px">专业书籍</i>
                <br/>
            </div>
        </div>
    </div>

    <div class="layui-col-md2" style="background: #ffffff; margin-left: 15px">
        <img style="margin-top: 20px; margin-left: 58px; border: 1px solid #d5d5d5"
             src="http://localhost:10086/img/h_img/mine.png" class="layui-circle"/><br/><br/>
        <a href="/bs/index" style="margin-left: 73px;"><span style="color: black">个名字真难</span></a>
        <div style="margin-left: 30px; margin-top: 30px">
            <i class="layui-icon layui-icon-rmb" style="color: #FFB800"></i>
            <span style="margin-left: 15px; margin-right: 15px">剩余牛币</span>
            <i class="layui-icon layui-icon-diamond" style="color: #9acfea">0</i>
        </div>
        <br/><br/>
    </div>
</div>
</div>

</div>
</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/ware/ware_coin.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>
</html>