<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title"></title>
    <link rel="stylesheet" href="//static.nowcoder.com/nc/style/0.0.29/fontcustom/global/global.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nc/style/0.0.29/common/global.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nc/style/0.0.29/common/ui.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nowcoder/1.2.1321/stylesheets/common/base.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nowcoder/1.2.1321/stylesheets/common/channel/default.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nowcoder/1.2.1321/stylesheets/pages/subject/finalProForma.css">
    <link charset="utf-8" rel="stylesheet"
          href="https://static.nowcoder.com/nc/plugin/1.0.17/release/highlighter/style/shCoreDefault.css">
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body>
<div style=" background: #ffffff; position: absolute; width: 950px; left: 15%" id="circle"></div>
</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/blog/detail_blog.js"></script>
</html>