<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精华专题</title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body class="layui-bg-gray">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="">在线编程</a></dd>
            <dd><a href="">模拟笔试</a></dd>
            <dd><a href="">教材全解</a></dd>
            <dd><a href="">考研真题</a></dd>
            <dd><a href="">期末考题</a></dd>
            <dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="">试题广场</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">面试</a>
        <dl class="layui-nav-child">
            <dd><a href="">AI面经总结</a>
            <dd><a href="">模拟面试</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">课程</a></dd>
            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
            <dd><a href="">项目实战</a></dd>
            <dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="/bs/index/technology">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">讨论区</a></dd>
            <dd><a href="">帖子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">竞赛</a></dd>
            <dd><a href="">offer神器</a></dd>
            <dd><a href="">职业身份验证</a></dd>
            <dd><a href="">牛人堂</a></dd>
            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>

    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>
<div style="left: 20%; width: 100%; height: 200px;background: #ffffff" id="pic_bg">

</div>

<div style="background:#ffffff; position:absolute; left: 15%; border:1px solid #e0e0e0;width: 50%" id="etiles">

</div>

<div id="page_helper" style="position: absolute; left: 18%; top:178%;"></div>


<div style="background:#ffffff; position:absolute; left: 66%; border:1px solid #e0e0e0;width: 20%;height: 330px">
    <div style="position: absolute; top: 5%; left: 10%">
        <span class="glyphicon glyphicon-gift" style="color: #ac2925"></span>
        <strong>热门推荐</strong>
    </div>
    <div class="layui-carousel" id="test1" style="position: absolute; top: 15%">
        <div carousel-item>
            <div>
                <a href="http://localhost:10086/img/img/re1.png"><img src="http://localhost:10086/img/img/re1.png"></a>
                <a href="http://localhost:10086/img/img/re2.jpg"><img src="http://localhost:10086/img/img/re2.jpg"></a>
                <a href="http://localhost:10086/img/img/re4.png"><img src="http://localhost:10086/img/img/re4.png"></a>
            </div>
            <div><a href="http://localhost:10086/img/img/re6.jpg"><img src="http://localhost:10086/img/img/re6.jpg"></a>
            </div>
            <div><a href="http://localhost:10086/img/img/re7.jpg"><img src="http://localhost:10086/img/img/re7.jpg"></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/etile.js"></script>
<script type="text/javascript" src="../../../mianshi/user/common_user.js"></script>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'hover' //始终显示箭头
            , anim: 'updown' //切换动画方式
        });
    });
</script>

<script>
    var c_page = getQueryString('page');
    if (c_page == '' || c_page < 1) {
        c_page = 1;
    }
    var type = getQueryString('category');
    var url = '/zt/api/count/' + type;
    var type_counts = 0;
    var re_url = 'http://localhost:8080/bs/index/topics/etiles?category=' + type;
    $.ajaxSettings.async = false;       //开启同步
    $.getJSON(url, function (data) {
        type_counts = data;
    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'page_helper' //注意，这里的 page_helper 是 ID，不用加 # 号
            , count: type_counts //数据总数，从服务端得到
            , curr: c_page
            , limit: 20
            , jump: function (obj, first) {
                var page_num = Math.ceil(obj.count / obj.limit);
                if (c_page > page_num && type_counts > 0) {
                    alert("没有更多了哟！！");
                    window.location.href = re_url + '&page=' + page_num;
                }
                if (!first) {         //第一次加载不执行
                    window.location.href = re_url + '&page=' + obj.curr;
                }
            }
        });
    });
</script>

</body>
</html>