<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="lFSmn0rlLR-OPkas5c2GxdhTKP4J4PyaahhQ2TNanjs">

    <title id="title_e"></title>
    <link rel="stylesheet" href="//static.nowcoder.com/nc/style/0.0.29/fontcustom/global/global.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nc/style/0.0.29/common/global.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nc/style/0.0.29/common/ui.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nowcoder/1.2.1321/stylesheets/common/base.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nowcoder/1.2.1321/stylesheets/common/channel/default.css">
    <link rel="stylesheet" href="//static.nowcoder.com/nowcoder/1.2.1321/stylesheets/pages/subject/finalProForma.css">
    <link charset="utf-8" rel="stylesheet"
          href="https://static.nowcoder.com/nc/plugin/1.0.17/release/highlighter/style/shCoreDefault.css">
</head>
<link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
<link rel="shortcut icon" href="../../../mianshi/icon.png"/>
<body>

<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="">在线编程</a></dd>
            <dd><a href="">模拟笔试</a></dd>
            <dd><a href="">教材全解</a></dd>
            <dd><a href="">考研真题</a></dd>
            <dd><a href="">期末考题</a></dd>
            <dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="">试题广场</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">面试</a>
        <dl class="layui-nav-child">
            <dd><a href="">AI面经总结</a>
            <dd><a href="">模拟面试</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">课程</a></dd>
            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
            <dd><a href="">项目实战</a></dd>
            <dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">讨论区</a></dd>
            <dd><a href="">帖子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">竞赛</a></dd>
            <dd><a href="">offer神器</a></dd>
            <dd><a href="">职业身份验证</a></dd>
            <dd><a href="">牛人堂</a></dd>
            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>

<div class="nk-container    ">


    <link rel="stylesheet"
          href="//static.nowcoder.com/nowcoder/1.2.1321/stylesheets/pages/act/2015FinalProForma/finalProForma.css">
    <div class="final-main clearfix">

        <div class="final-box clearfix">
            <div class="result-subject-item answer-primary-mod">
                <div class="final-model-title clearfix">
                    <span class="final-order" id="no_2"></span>
                    <h2>
                        <span>问答题</span>
                        <span class="final-order-num">
                            <em class="final-green-words" id="no"></em>
                            /<span id="count_q"></span>
                        </span>
                    </h2>
                </div>
                <div id="question">
                </div>
            </div>
            <div class="result-subject-item answer-primary-mod">
                <h1>参考答案</h1>

                <div class="final-action clearfix">
                    <div id="answer"></div>
                    <div>
                        <a class="check-error js-correction" href="javascript:void(0);" data-id="280801" data-type="3">纠错</a>
                        <a class="link-collect js-collect nc-req-auth" href="javascript:void(0);" data-id="280801"
                           data-type="3">
                            收藏
                        </a>
                    </div>
                    <!--<div class="subject-next">-->
                    <!--<a target="_blank" class="btn btn-primary" href="/questionTerminal/6fd05bb8e9904de5b35b618b86bd4a35">查看讨论</a>-->
                    <!--</div>-->
                </div>
            </div>
            <div id="page_helper" style="background: #ffffff"></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/detail_etile.js"></script>
<script type="text/javascript" src="../../../mianshi/user/common_user.js"></script>



