<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模拟考试</title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body style="background: #fffff">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="/bs/index/oj_index">在线编程</a></dd>
            <dd><a href="/bs/index/mock_exam">模拟笔试</a></dd>

            <dd><a href="/bs/index/uni">考研真题</a></dd>
            <dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="/bs/index/square_title">试题广场</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
            <dd><a href="/bs/index/project_action">项目实战</a></dd>
            <dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="/bs/index/technology">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/bs/index/post">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/talk">讨论区</a></dd>
            <dd><a href="/bs/index/circle">圈子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>

<div>
    <div style="background: #00121b">
        <img style="margin-left: 80px" height="300px" src="http://localhost:10086/img/b_img/2.jpg"/>
    </div>

    <div class="layui-row" style="margin: 20px">
        <div class="layui-col-md-offset1 layui-col-md11">
            <div>
                <i style="color: #609E53; background: #609E53;">1</i>
                <b style="font-size: 16px">模拟笔试考试说明</b>
            </div>
        </div>

        <div class="layui-col-md-offset1 layui-col-md10 layui-row" style="margin-top: 40px">
           <div class="layui-col-md4" style="text-align: center;">
               <div style="background: #2aabd2; width: 50px; height: 50px; margin-left: 165px; margin-bottom: 20px" class="layui-circle">
                    <br/>
                    <span style="color: #ffffff; font-size: 20px">1</span>
                </div>
                <hr class="layui-bg-blue" style="margin: 10px" />
               <b style="color: #2aabd2; font-size: 18px;">1.考试报名</b>
               <br/>
               <span>只需填写一次报名信息，即可参加本场及后续场次考试。</span>
           </div>
           <div class="layui-col-md4" style="text-align: center;">
               <div style="background: #2aabd2; width: 50px; height: 50px; margin-left: 165px; margin-bottom: 20px" class="layui-circle">
                    <br/>
                    <span style="color: #ffffff; font-size: 20px">2</span>
                </div>
                <hr class="layui-bg-blue" style="margin: 10px" />
               <b style="color: #2aabd2; font-size: 18px;">2.笔试答题</b>
               <br/>
               <span>笔试正式开始前15分钟，可提前进入笔试地址调试设备。</span>
           </div>
           <div class="layui-col-md4" style="text-align: center;">
               <div style="background: #2aabd2; width: 50px; height: 50px; margin-left: 165px; margin-bottom: 20px" class="layui-circle">
                    <br/>
                    <span style="color: #ffffff; font-size: 20px">3</span>
                </div>
                <hr class="layui-bg-blue" style="margin: 10px" />
               <b style="color: #2aabd2; font-size: 18px;">3.领取报告</b>
               <br/>
               <span>考试结束后5个工作日内即可在笔试报告页面领取成绩报告</span>
           </div>
        </div>
        <div class="layui-col-md-offset1 layui-col-md11" style="margin-top: 50px">
            <div>
                <i style="color: #609E53; background: #609E53;">1</i>
                <b style="font-size: 16px">等你来战</b>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>
<script type="text/javascript" src="../../../mianshi/js/circle/circle.js"></script>
</html>