<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="blog_title"></title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body>
<div>
    <div>
      <ul class="layui-nav layui-bg-blue">
        <li class="layui-nav-item" id = "user_info"></li>
        <li class="layui-nav-item" style="position: absolute; left: 78%">
            <a href="/bs/index" class = "layui-icon layui-icon-home" style = "color: #ffffff">去牛客网</a>
        </li>

       <li class="layui-nav-item" style="position: absolute; left: 90%">
            <button onclick="window.open('http://39.106.218.135:8082/')" type="button" class="layui-btn layui-btn-radius">
              <i class="layui-icon">&#xe608;</i> 写博客
            </button>
        </li>
      </ul>
      </div>

    <div style="margin-left: 14%; margin-top: 30px; width: 80%" id="blog_infos">

    </div>
</div>
</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>
<script type="text/javascript" src="../../../mianshi/js/blog/blog_self_detail.js"></script>

</html>