<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新题上传</title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body style="background: #e0e0e0">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="">在线编程</a></dd>
            <dd><a href="/bs/index/mock_exam">模拟笔试</a></dd>

            <dd><a href="/bs/index/uni">考研真题</a></dd>
            <dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="/bs/index/square_title">试题广场</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">面试</a>
        <dl class="layui-nav-child">
            <dd><a href="">面经总结</a>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
            <dd><a href="/bs/index/project_action">项目实战</a></dd>
            <dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="/bs/index/technology">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/bs/index/post">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/talk">讨论区</a></dd>
            <dd><a href="/bs/index/circle">圈子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>
<div class="layui-row">
    <div class="layui-col-md8 layui-col-md-offset2" style="background: #ffffff; margin-top: 20px;">
         <div style="margin: 20px">
            <span class="layui-badge-dot"></span>
            <strong style="font-size: 16px">新题上传</strong>
         </div>

         <div style="margin: 20px">
            <input type="text" id="title" placeholder="请输入标题" class="layui-input">
         </div>

         <div style="margin: 20px">
            <textarea id="demo" style="display: none;"></textarea>
            <button id="comment"  style="margin: 20px;" class="layui-btn">上传</button>
         </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/blog/blog.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>
<script>
layui.use('layedit', function(){
  var layedit = layui.layedit;
  var index = layedit.build('demo', {
       height: 400
  }); //建立编辑器
  var $ = layui.jquery;
  layedit.set({
      uploadImage: {
          url: '/square/api/upload' //接口url
          ,type: '' //默认post
          ,success: function (data) {
                alert(data.data.src);
              }
           }
        });
     var btn = $('#comment');
     btn.click(function() {
        var content = layedit.getContent(index);
        var title = $('#title').val();
        $.ajax({
                type: "POST",
                data: JSON.stringify({
                     "titleName": title, "titleContent": content, "userId": "6aca7cbe-dff0-4342-a4f4-c7ad86699c4b"}),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: "/square/api/square",
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg('上传成功!');
                    }
                }
            });
     });
});
</script>
</html>