<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讨论区_技术交流/产品运营/留学</title>
    <link href="../../../layui/css/layui.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="../../../mianshi/icon.png"/>
</head>
<body style="background: #e0e0e0">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><img src="../../../mianshi/icon.png"/></li>
    <li class="layui-nav-item"><a href="">仿牛客网</a></li>
    <li class="layui-nav-item"><a href="/bs/index">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">题库</a>
        <dl class="layui-nav-child">
            <dd><a href="">公司真题</a></dd>
            <dd><a href="/bs/index/title/s_title">专项练习</a></dd>
            <dd><a href="/bs/index/oj_index">在线编程</a></dd>
            <dd><a href="/bs/index/mock_exam">模拟笔试</a></dd>

            <dd><a href="/bs/index/uni">考研真题</a></dd>
<dd><a href="/bs/index/topics">精华广场</a></dd>
            <dd><a href="/bs/index/square_title">试题广场</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a href="javascript:;">学习</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/study/blog">专栏-文章</a></dd>
<dd><a href="/bs/index/project_action">项目实战</a></dd><dd><a href="/bs/index/library">图书馆</a></dd>
            <dd><a href="/bs/index/technology">技术栈</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/bs/index/post">求职</a></li>
    <li class="layui-nav-item"><a href="">讨论区</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/bs/index/talk">讨论区</a></dd>
            <dd><a href="/bs/index/circle">圈子</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">发现</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->

            <dd><a href="/bs/index/find/coin_ware">牛币兑换中心</a></dd>
        </dl>
    </li>
    <li style="position: absolute; left:63%" class="layui-nav-item"><input type="text" class="layui-input-inline"/>
        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">搜索</button>
    </li>
    <li style="position: absolute; left: 79%" class="layui-nav-item">
        <i style="color: #f7f7f7" class="layui-icon layui-icon-cellphone-fine">APP</i>
    </li>
    <li style="position: absolute; left: 83%" class="layui-nav-item" id="user_info">

    </li>

    </li>
</ul>
<div style="margin-left: 180px; margin-top: 20px">
    <a href=""><img width="1000px"; height="80px" src="http://39.106.218.135:10086/img/b_img/bg_circle.png" ></a>
</div>

<div style="margin-left: 180px; margin-top: 15px; width: 1000px" class="layui-row">
    <div class="layui-col-md8" style="background: #ffffff">
        <div style="margin: 20px">
            <span class="layui-badge-dot"></span>
            <b><span style="font-size: 18px;">分享与求助</span></b>
            <button class="layui-btn layui-btn-sm" style="margin-left: 380px">
                <i class="layui-icon layui-icon-edit">我也要发布</i>
            </button>
        </div>

        <div style="background: #f0f0f0">
          <div style="margin-bottom: 10px; width: 550px;margin-left: 20px;">
            <span class="layui-breadcrumb" lay-separator=" " style="line-height: 40px; margin-top: 20px">
              <a class="type_href" href="talk">全部</a>
              <a class="type_href" href="?type_id=1">站内公告</a>
              <a class="type_href" href="?type_id=2">笔经面经</a>
              <a class="type_href" href="?type_id=3">我要提问</a>
              <a class="type_href" href="?type_id=4">技术交流</a>
              <a class="type_href" href="?type_id=5">产品运营</a>
              <a class="type_href" href="?type_id=6">留学生</a>
              <a class="type_href" href="?type_id=7">职业发展</a>
              <a class="type_href" href="?type_id=8">招聘信息</a>
              <a class="type_href" href="?type_id=9">资源分享</a>
              <a class="type_href" href="?type_id=10">猿生活</a>
              <a class="type_href" href="?type_id=11">工作以后</a>
            </span>
        </div>
    </div>

    <div style="margin-bottom: 20px">
        <span style="margin-left: 20px" class="layui-breadcrumb" lay-separator="|">
          <a href=""><span style="color: #009f95">最新回复</span></a>
          <a href=""><span>最新发表</span></a>
          <a href=""><span>最热</span></a>
          <a href=""><span>精华</span></a>
        </span>
    </div>

        <ul id="talk_list">
        </ul>
    </div>

    <div style="background: #ffffff; position: absolute; left: 860px; width: 318px">
        <div style="margin: 20px">
            <span class="layui-badge-dot"></span>
            <b><span style="font-size: 18px;">热议话题</span></b>
        </div>

        <div style="margin: 20px; line-height: 30px">
            <p>#春招备战#</p>
            <span style="color: grey;">55人预览</span>
            <span style="color: grey; margin-left: 10px">8人参与</span>
            <hr />
        </div>
        <div style="margin: 20px; line-height: 30px">
            <p>#春招备战#</p>
            <span style="color: grey;">55人预览</span>
            <span style="color: grey; margin-left: 10px">8人参与</span>
            <hr />
        </div>
        <div id="hot_list">

        </div>

    </div>
</div>
</body>
<script type="text/javascript" src="../../../mianshi/jquery.min.js"></script>
<script type="text/javascript" src="../../../mianshi/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../../layui/layui.all.js"></script>
<script type="text/javascript" src="../../../mianshi/js/common.js"></script>
<script type="text/javascript" src="../../../mianshi/js/user/common_user.js"></script>
<script type="text/javascript" src="../../../mianshi/js/invi/invi.js"></script>
</html>