<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.EtileCategoryMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.EtileCategory">
    <id column="etile_category_id" jdbcType="INTEGER" property="etileCategoryId" />
    <result column="etile_category_name" jdbcType="VARCHAR" property="etileCategoryName" />
    <result column="etile_category_num" jdbcType="INTEGER" property="etileCategoryNum" />
    <result column="etile_category_photo" jdbcType="VARCHAR" property="etileCategoryPhoto" />
    <result column="etile_category_create_time" jdbcType="TIMESTAMP" property="etileCategoryCreateTime" />
    <result column="etile_category_edit_time" jdbcType="TIMESTAMP" property="etileCategoryEditTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    etile_category_id, etile_category_name, etile_category_num, etile_category_photo, 
    etile_category_create_time, etile_category_edit_time
  </sql>
  <select id="selectByExample" parameterType="com.bishe.main.entity.EtileCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_etile_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_etile_category
    where etile_category_id = #{etileCategoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_etile_category
    where etile_category_id = #{etileCategoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.main.entity.EtileCategory">
    insert into tb_etile_category (etile_category_id, etile_category_name, 
      etile_category_num, etile_category_photo, etile_category_create_time, 
      etile_category_edit_time)
    values (#{etileCategoryId,jdbcType=INTEGER}, #{etileCategoryName,jdbcType=VARCHAR}, 
      #{etileCategoryNum,jdbcType=INTEGER}, #{etileCategoryPhoto,jdbcType=VARCHAR}, #{etileCategoryCreateTime,jdbcType=TIMESTAMP}, 
      #{etileCategoryEditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bishe.main.entity.EtileCategory">
    insert into tb_etile_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="etileCategoryId != null">
        etile_category_id,
      </if>
      <if test="etileCategoryName != null">
        etile_category_name,
      </if>
      <if test="etileCategoryNum != null">
        etile_category_num,
      </if>
      <if test="etileCategoryPhoto != null">
        etile_category_photo,
      </if>
      <if test="etileCategoryCreateTime != null">
        etile_category_create_time,
      </if>
      <if test="etileCategoryEditTime != null">
        etile_category_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="etileCategoryId != null">
        #{etileCategoryId,jdbcType=INTEGER},
      </if>
      <if test="etileCategoryName != null">
        #{etileCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="etileCategoryNum != null">
        #{etileCategoryNum,jdbcType=INTEGER},
      </if>
      <if test="etileCategoryPhoto != null">
        #{etileCategoryPhoto,jdbcType=VARCHAR},
      </if>
      <if test="etileCategoryCreateTime != null">
        #{etileCategoryCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="etileCategoryEditTime != null">
        #{etileCategoryEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.EtileCategory">
    update tb_etile_category
    <set>
      <if test="etileCategoryName != null">
        etile_category_name = #{etileCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="etileCategoryNum != null">
        etile_category_num = #{etileCategoryNum,jdbcType=INTEGER},
      </if>
      <if test="etileCategoryPhoto != null">
        etile_category_photo = #{etileCategoryPhoto,jdbcType=VARCHAR},
      </if>
      <if test="etileCategoryCreateTime != null">
        etile_category_create_time = #{etileCategoryCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="etileCategoryEditTime != null">
        etile_category_edit_time = #{etileCategoryEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where etile_category_id = #{etileCategoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.EtileCategory">
    update tb_etile_category
    set etile_category_name = #{etileCategoryName,jdbcType=VARCHAR},
      etile_category_num = #{etileCategoryNum,jdbcType=INTEGER},
      etile_category_photo = #{etileCategoryPhoto,jdbcType=VARCHAR},
      etile_category_create_time = #{etileCategoryCreateTime,jdbcType=TIMESTAMP},
      etile_category_edit_time = #{etileCategoryEditTime,jdbcType=TIMESTAMP}
    where etile_category_id = #{etileCategoryId,jdbcType=INTEGER}
  </update>
</mapper>