<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.EtileMapper">
    <resultMap id="BaseResultMap" type="com.bishe.main.entity.Etile">
        <id column="etile_id" jdbcType="INTEGER" property="etileId"/>
        <result column="etile_name" jdbcType="VARCHAR" property="etileName"/>
        <result column="etile_point" jdbcType="VARCHAR" property="etilePoint"/>
        <result column="etile_type" jdbcType="VARCHAR" property="etileType"/>
        <result column="etile_no" jdbcType="INTEGER" property="etileNo"/>
        <result column="etile_no_ali" jdbcType="INTEGER" property="etileNoAli"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bishe.main.entity.EtileWithBLOBs">
        <result column="etitle_question" jdbcType="LONGVARCHAR" property="etitleQuestion"/>
        <result column="etitle_answer" jdbcType="LONGVARCHAR" property="etitleAnswer"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        etile_id, etile_name, etile_point, etile_type, etile_no, etile_no_ali
    </sql>
    <sql id="Blob_Column_List">
        etitle_question, etitle_answer
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.bishe.main.entity.EtileExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_etile
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.bishe.main.entity.EtileExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from tb_etile
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_etile
        where etile_id = #{etileId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_etile
        where etile_id = #{etileId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.bishe.main.entity.EtileWithBLOBs">
        insert into tb_etile (etile_id, etile_name, etile_point,
        etile_type, etile_no, etile_no_ali,
        etitle_question, etitle_answer)
        values (#{etileId,jdbcType=INTEGER}, #{etileName,jdbcType=VARCHAR}, #{etilePoint,jdbcType=VARCHAR},
        #{etileType,jdbcType=VARCHAR}, #{etileNo,jdbcType=INTEGER}, #{etileNoAli,jdbcType=INTEGER},
        #{etitleQuestion,jdbcType=LONGVARCHAR}, #{etitleAnswer,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.bishe.main.entity.EtileWithBLOBs">
        insert into tb_etile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="etileId != null">
                etile_id,
            </if>
            <if test="etileName != null">
                etile_name,
            </if>
            <if test="etilePoint != null">
                etile_point,
            </if>
            <if test="etileType != null">
                etile_type,
            </if>
            <if test="etileNo != null">
                etile_no,
            </if>
            <if test="etileNoAli != null">
                etile_no_ali,
            </if>
            <if test="etitleQuestion != null">
                etitle_question,
            </if>
            <if test="etitleAnswer != null">
                etitle_answer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="etileId != null">
                #{etileId,jdbcType=INTEGER},
            </if>
            <if test="etileName != null">
                #{etileName,jdbcType=VARCHAR},
            </if>
            <if test="etilePoint != null">
                #{etilePoint,jdbcType=VARCHAR},
            </if>
            <if test="etileType != null">
                #{etileType,jdbcType=VARCHAR},
            </if>
            <if test="etileNo != null">
                #{etileNo,jdbcType=INTEGER},
            </if>
            <if test="etileNoAli != null">
                #{etileNoAli,jdbcType=INTEGER},
            </if>
            <if test="etitleQuestion != null">
                #{etitleQuestion,jdbcType=LONGVARCHAR},
            </if>
            <if test="etitleAnswer != null">
                #{etitleAnswer,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.EtileWithBLOBs">
        update tb_etile
        <set>
            <if test="etileName != null">
                etile_name = #{etileName,jdbcType=VARCHAR},
            </if>
            <if test="etilePoint != null">
                etile_point = #{etilePoint,jdbcType=VARCHAR},
            </if>
            <if test="etileType != null">
                etile_type = #{etileType,jdbcType=VARCHAR},
            </if>
            <if test="etileNo != null">
                etile_no = #{etileNo,jdbcType=INTEGER},
            </if>
            <if test="etileNoAli != null">
                etile_no_ali = #{etileNoAli,jdbcType=INTEGER},
            </if>
            <if test="etitleQuestion != null">
                etitle_question = #{etitleQuestion,jdbcType=LONGVARCHAR},
            </if>
            <if test="etitleAnswer != null">
                etitle_answer = #{etitleAnswer,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where etile_id = #{etileId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bishe.main.entity.EtileWithBLOBs">
        update tb_etile
        set etile_name = #{etileName,jdbcType=VARCHAR},
        etile_point = #{etilePoint,jdbcType=VARCHAR},
        etile_type = #{etileType,jdbcType=VARCHAR},
        etile_no = #{etileNo,jdbcType=INTEGER},
        etile_no_ali = #{etileNoAli,jdbcType=INTEGER},
        etitle_question = #{etitleQuestion,jdbcType=LONGVARCHAR},
        etitle_answer = #{etitleAnswer,jdbcType=LONGVARCHAR}
        where etile_id = #{etileId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.Etile">
        update tb_etile
        set etile_name = #{etileName,jdbcType=VARCHAR},
        etile_point = #{etilePoint,jdbcType=VARCHAR},
        etile_type = #{etileType,jdbcType=VARCHAR},
        etile_no = #{etileNo,jdbcType=INTEGER},
        etile_no_ali = #{etileNoAli,jdbcType=INTEGER}
        where etile_id = #{etileId,jdbcType=INTEGER}
    </update>
</mapper>