<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.FactoryMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.Factory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="factory_info" jdbcType="VARCHAR" property="factoryInfo" />
    <result column="factory_place" jdbcType="VARCHAR" property="factoryPlace" />
    <result column="factory_img" jdbcType="VARCHAR" property="factoryImg" />
    <result column="be_listed" jdbcType="VARCHAR" property="beListed" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="city_list" jdbcType="VARCHAR" property="cityList" />
    <result column="post_list" jdbcType="VARCHAR" property="postList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, factory_name, factory_info, factory_place, factory_img, be_listed, add_time, 
    city_list, post_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_factory
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_factory
    where factory_name = #{name,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_factory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Factory" useGeneratedKeys="true">
    insert into tb_factory (factory_name, factory_info, factory_place, 
      factory_img, be_listed, add_time, 
      city_list, post_list)
    values (#{factoryName,jdbcType=VARCHAR}, #{factoryInfo,jdbcType=VARCHAR}, #{factoryPlace,jdbcType=VARCHAR}, 
      #{factoryImg,jdbcType=VARCHAR}, #{beListed,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{cityList,jdbcType=VARCHAR}, #{postList,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Factory" useGeneratedKeys="true">
    insert into tb_factory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="factoryInfo != null">
        factory_info,
      </if>
      <if test="factoryPlace != null">
        factory_place,
      </if>
      <if test="factoryImg != null">
        factory_img,
      </if>
      <if test="beListed != null">
        be_listed,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="cityList != null">
        city_list,
      </if>
      <if test="postList != null">
        post_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryInfo != null">
        #{factoryInfo,jdbcType=VARCHAR},
      </if>
      <if test="factoryPlace != null">
        #{factoryPlace,jdbcType=VARCHAR},
      </if>
      <if test="factoryImg != null">
        #{factoryImg,jdbcType=VARCHAR},
      </if>
      <if test="beListed != null">
        #{beListed,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityList != null">
        #{cityList,jdbcType=VARCHAR},
      </if>
      <if test="postList != null">
        #{postList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.Factory">
    update tb_factory
    <set>
      <if test="factoryName != null">
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryInfo != null">
        factory_info = #{factoryInfo,jdbcType=VARCHAR},
      </if>
      <if test="factoryPlace != null">
        factory_place = #{factoryPlace,jdbcType=VARCHAR},
      </if>
      <if test="factoryImg != null">
        factory_img = #{factoryImg,jdbcType=VARCHAR},
      </if>
      <if test="beListed != null">
        be_listed = #{beListed,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityList != null">
        city_list = #{cityList,jdbcType=VARCHAR},
      </if>
      <if test="postList != null">
        post_list = #{postList,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.Factory">
    update tb_factory
    set factory_name = #{factoryName,jdbcType=VARCHAR},
      factory_info = #{factoryInfo,jdbcType=VARCHAR},
      factory_place = #{factoryPlace,jdbcType=VARCHAR},
      factory_img = #{factoryImg,jdbcType=VARCHAR},
      be_listed = #{beListed,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      city_list = #{cityList,jdbcType=VARCHAR},
      post_list = #{postList,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>