<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.InvitationMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.Invitation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="invitation_name" jdbcType="VARCHAR" property="invitationName" />
    <result column="invitation_label" jdbcType="VARCHAR" property="invitationLabel" />
    <result column="top" jdbcType="BIT" property="top" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="invitation_type" jdbcType="INTEGER" property="invitationType" />
    <result column="view_num" jdbcType="INTEGER" property="viewNum" />
    <result column="agree_num" jdbcType="INTEGER" property="agreeNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bishe.main.entity.Invitation">
    <result column="invitation_content" jdbcType="LONGVARCHAR" property="invitationContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, invitation_name, invitation_label, top, user_id, invitation_type, view_num,
    agree_num, comment_num, create_time, topic_id
  </sql>
  <sql id="Blob_Column_List">
    invitation_content
  </sql>

  <select id="selectInviByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from tb_invitation
    <if test="invitationTypeId != null">
    where invitation_type = #{invitationTypeId,jdbcType=INTEGER}
    </if>
    order by
    create_time desc
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_invitation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_invitation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Invitation" useGeneratedKeys="true">
    insert into tb_invitation (invitation_name, invitation_label, 
      top, user_id, invitation_type,
      view_num, agree_num, comment_num, 
      create_time, topic_id, invitation_content
      )
    values (#{invitationName,jdbcType=VARCHAR}, #{invitationLabel,jdbcType=VARCHAR}, 
      #{top,jdbcType=BIT}, #{userId,jdbcType=VARCHAR}, #{invitationType,jdbcType=INTEGER}, 
      #{viewNum,jdbcType=INTEGER}, #{agreeNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{topicId,jdbcType=INTEGER}, #{invitationContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Invitation" useGeneratedKeys="true">
    insert into tb_invitation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invitationName != null">
        invitation_name,
      </if>
      <if test="invitationLabel != null">
        invitation_label,
      </if>
      <if test="top != null">
        top,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="invitationType != null">
        invitation_type,
      </if>
      <if test="viewNum != null">
        view_num,
      </if>
      <if test="agreeNum != null">
        agree_num,
      </if>
      <if test="commentNum != null">
        comment_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="invitationContent != null">
        invitation_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invitationName != null">
        #{invitationName,jdbcType=VARCHAR},
      </if>
      <if test="invitationLabel != null">
        #{invitationLabel,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        #{top,jdbcType=BIT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="invitationType != null">
        #{invitationType,jdbcType=INTEGER},
      </if>
      <if test="viewNum != null">
        #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="agreeNum != null">
        #{agreeNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="invitationContent != null">
        #{invitationContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.Invitation">
    update tb_invitation
    <set>
      <if test="invitationName != null">
        invitation_name = #{invitationName,jdbcType=VARCHAR},
      </if>
      <if test="invitationLabel != null">
        invitation_label = #{invitationLabel,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        top = #{top,jdbcType=BIT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="invitationType != null">
        invitation_type = #{invitationType,jdbcType=INTEGER},
      </if>
      <if test="viewNum != null">
        view_num = #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="agreeNum != null">
        agree_num = #{agreeNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="invitationContent != null">
        invitation_content = #{invitationContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bishe.main.entity.Invitation">
    update tb_invitation
    set invitation_name = #{invitationName,jdbcType=VARCHAR},
      invitation_label = #{invitationLabel,jdbcType=VARCHAR},
      top = #{top,jdbcType=BIT},
      user_id = #{userId,jdbcType=VARCHAR},
      invitation_type = #{invitationType,jdbcType=INTEGER},
      view_num = #{viewNum,jdbcType=INTEGER},
      agree_num = #{agreeNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      topic_id = #{topicId,jdbcType=INTEGER},
      invitation_content = #{invitationContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.Invitation">
    update tb_invitation
    set invitation_name = #{invitationName,jdbcType=VARCHAR},
      invitation_label = #{invitationLabel,jdbcType=VARCHAR},
      top = #{top,jdbcType=BIT},
      user_id = #{userId,jdbcType=VARCHAR},
      invitation_type = #{invitationType,jdbcType=INTEGER},
      view_num = #{viewNum,jdbcType=INTEGER},
      agree_num = #{agreeNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      topic_id = #{topicId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>