<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.MoreauMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.Moreau">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="moreau_name" jdbcType="VARCHAR" property="moreauName" />
    <result column="moreau_detail" jdbcType="VARCHAR" property="moreauDetail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="moreau_img" jdbcType="VARCHAR" property="moreauImg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, moreau_name, moreau_detail, create_time, edit_time, moreau_img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_moreau
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_moreau
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_moreau
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Moreau" useGeneratedKeys="true">
    insert into tb_moreau (moreau_name, moreau_detail, create_time, 
      edit_time, moreau_img)
    values (#{moreauName,jdbcType=VARCHAR}, #{moreauDetail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editTime,jdbcType=TIMESTAMP}, #{moreauImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Moreau" useGeneratedKeys="true">
    insert into tb_moreau
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moreauName != null">
        moreau_name,
      </if>
      <if test="moreauDetail != null">
        moreau_detail,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="moreauImg != null">
        moreau_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moreauName != null">
        #{moreauName,jdbcType=VARCHAR},
      </if>
      <if test="moreauDetail != null">
        #{moreauDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moreauImg != null">
        #{moreauImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.Moreau">
    update tb_moreau
    <set>
      <if test="moreauName != null">
        moreau_name = #{moreauName,jdbcType=VARCHAR},
      </if>
      <if test="moreauDetail != null">
        moreau_detail = #{moreauDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moreauImg != null">
        moreau_img = #{moreauImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.Moreau">
    update tb_moreau
    set moreau_name = #{moreauName,jdbcType=VARCHAR},
      moreau_detail = #{moreauDetail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      moreau_img = #{moreauImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>