<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.NoteMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.Note">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, note_content, user_id, title_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_note
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getNoteByTilteIdAndUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_note
    where title_id = #{titleId, jdbcType=INTEGER}
    and user_id = #{userId, jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_note
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Note" useGeneratedKeys="true">
    insert into tb_note (note_content, user_id, title_id, 
      create_time)
    values (#{noteContent,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{titleId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Note" useGeneratedKeys="true">
    insert into tb_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteContent != null">
        note_content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="titleId != null">
        title_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        #{titleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.Note">
    update tb_note
    <set>
      <if test="noteContent != null">
        note_content = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        title_id = #{titleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.Note">
    update tb_note
    set note_content = #{noteContent,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      title_id = #{titleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>