<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.OjRecordMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.OjRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bishe.main.entity.OjRecordWithBLOBs">
    <result column="right_problem_id" jdbcType="LONGVARCHAR" property="rightProblemId" />
    <result column="do_problem_id" jdbcType="LONGVARCHAR" property="doProblemId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id
  </sql>
  <sql id="Blob_Column_List">
    right_problem_id, do_problem_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_oj_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_oj_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.OjRecordWithBLOBs" useGeneratedKeys="true">
    insert into tb_oj_record (user_id, right_problem_id, do_problem_id
      )
    values (#{userId,jdbcType=VARCHAR}, #{rightProblemId,jdbcType=LONGVARCHAR}, #{doProblemId,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.OjRecordWithBLOBs" useGeneratedKeys="true">
    insert into tb_oj_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="rightProblemId != null">
        right_problem_id,
      </if>
      <if test="doProblemId != null">
        do_problem_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="rightProblemId != null">
        #{rightProblemId,jdbcType=LONGVARCHAR},
      </if>
      <if test="doProblemId != null">
        #{doProblemId,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.OjRecordWithBLOBs">
    update tb_oj_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="rightProblemId != null">
        right_problem_id = #{rightProblemId,jdbcType=LONGVARCHAR},
      </if>
      <if test="doProblemId != null">
        do_problem_id = #{doProblemId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bishe.main.entity.OjRecordWithBLOBs">
    update tb_oj_record
    set user_id = #{userId,jdbcType=VARCHAR},
      right_problem_id = #{rightProblemId,jdbcType=LONGVARCHAR},
      do_problem_id = #{doProblemId,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.OjRecord">
    update tb_oj_record
    set user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>