<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.PostMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="post_type" jdbcType="INTEGER" property="postType" />
    <result column="post_city" jdbcType="VARCHAR" property="postCity" />
    <result column="post_info" jdbcType="VARCHAR" property="postInfo" />
    <result column="post_requirement" jdbcType="VARCHAR" property="postRequirement" />
    <result column="post_welfare" jdbcType="VARCHAR" property="postWelfare" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, factory_id, post_name, post_type, post_city, post_info, post_requirement, post_welfare, 
    publish_time
  </sql>

  <select id="getPosts" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_post
  </select>

  <select id="getPostsByFactoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_post
    where
    factory_id=#{factoryId, jdbcType=INTEGER}
  </select>
  <select id = "getPostsByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_post
    where
    post_type = #{typeId, jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Post" useGeneratedKeys="true">
    insert into tb_post (factory_id, post_name, post_type, 
      post_city, post_info, post_requirement, 
      post_welfare, publish_time)
    values (#{factoryId,jdbcType=INTEGER}, #{postName,jdbcType=VARCHAR}, #{postType,jdbcType=INTEGER}, 
      #{postCity,jdbcType=VARCHAR}, #{postInfo,jdbcType=VARCHAR}, #{postRequirement,jdbcType=VARCHAR}, 
      #{postWelfare,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.Post" useGeneratedKeys="true">
    insert into tb_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="postType != null">
        post_type,
      </if>
      <if test="postCity != null">
        post_city,
      </if>
      <if test="postInfo != null">
        post_info,
      </if>
      <if test="postRequirement != null">
        post_requirement,
      </if>
      <if test="postWelfare != null">
        post_welfare,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=INTEGER},
      </if>
      <if test="postCity != null">
        #{postCity,jdbcType=VARCHAR},
      </if>
      <if test="postInfo != null">
        #{postInfo,jdbcType=VARCHAR},
      </if>
      <if test="postRequirement != null">
        #{postRequirement,jdbcType=VARCHAR},
      </if>
      <if test="postWelfare != null">
        #{postWelfare,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.Post">
    update tb_post
    <set>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        post_type = #{postType,jdbcType=INTEGER},
      </if>
      <if test="postCity != null">
        post_city = #{postCity,jdbcType=VARCHAR},
      </if>
      <if test="postInfo != null">
        post_info = #{postInfo,jdbcType=VARCHAR},
      </if>
      <if test="postRequirement != null">
        post_requirement = #{postRequirement,jdbcType=VARCHAR},
      </if>
      <if test="postWelfare != null">
        post_welfare = #{postWelfare,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.Post">
    update tb_post
    set factory_id = #{factoryId,jdbcType=INTEGER},
      post_name = #{postName,jdbcType=VARCHAR},
      post_type = #{postType,jdbcType=INTEGER},
      post_city = #{postCity,jdbcType=VARCHAR},
      post_info = #{postInfo,jdbcType=VARCHAR},
      post_requirement = #{postRequirement,jdbcType=VARCHAR},
      post_welfare = #{postWelfare,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>