<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.ProjectActionMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.ProjectAction">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="action_name" jdbcType="VARCHAR" property="actionName" />
    <result column="action_type" jdbcType="VARCHAR" property="actionType" />
    <result column="action_hard" jdbcType="INTEGER" property="actionHard" />
    <result column="action_img" jdbcType="VARCHAR" property="actionImg" />
    <result column="action_detail" jdbcType="VARCHAR" property="actionDetail" />
    <result column="action_propose_time" jdbcType="VARCHAR" property="actionProposeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, action_name, action_type, action_hard, action_img, action_detail, action_propose_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_project_action
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_project_action
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_project_action
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.ProjectAction" useGeneratedKeys="true">
    insert into tb_project_action (action_name, action_type, action_hard, 
      action_img, action_detail, action_propose_time
      )
    values (#{actionName,jdbcType=VARCHAR}, #{actionType,jdbcType=VARCHAR}, #{actionHard,jdbcType=INTEGER}, 
      #{actionImg,jdbcType=VARCHAR}, #{actionDetail,jdbcType=VARCHAR}, #{actionProposeTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.ProjectAction" useGeneratedKeys="true">
    insert into tb_project_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actionName != null">
        action_name,
      </if>
      <if test="actionType != null">
        action_type,
      </if>
      <if test="actionHard != null">
        action_hard,
      </if>
      <if test="actionImg != null">
        action_img,
      </if>
      <if test="actionDetail != null">
        action_detail,
      </if>
      <if test="actionProposeTime != null">
        action_propose_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actionName != null">
        #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="actionHard != null">
        #{actionHard,jdbcType=INTEGER},
      </if>
      <if test="actionImg != null">
        #{actionImg,jdbcType=VARCHAR},
      </if>
      <if test="actionDetail != null">
        #{actionDetail,jdbcType=VARCHAR},
      </if>
      <if test="actionProposeTime != null">
        #{actionProposeTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.ProjectAction">
    update tb_project_action
    <set>
      <if test="actionName != null">
        action_name = #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null">
        action_type = #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="actionHard != null">
        action_hard = #{actionHard,jdbcType=INTEGER},
      </if>
      <if test="actionImg != null">
        action_img = #{actionImg,jdbcType=VARCHAR},
      </if>
      <if test="actionDetail != null">
        action_detail = #{actionDetail,jdbcType=VARCHAR},
      </if>
      <if test="actionProposeTime != null">
        action_propose_time = #{actionProposeTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.ProjectAction">
    update tb_project_action
    set action_name = #{actionName,jdbcType=VARCHAR},
      action_type = #{actionType,jdbcType=VARCHAR},
      action_hard = #{actionHard,jdbcType=INTEGER},
      action_img = #{actionImg,jdbcType=VARCHAR},
      action_detail = #{actionDetail,jdbcType=VARCHAR},
      action_propose_time = #{actionProposeTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>