<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.ProjectDemoMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.ProjectDemo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="demo_info" jdbcType="VARCHAR" property="demoInfo" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="demo_url" jdbcType="VARCHAR" property="demoUrl" />
    <result column="demo_down_url" jdbcType="VARCHAR" property="demoDownUrl" />
    <result column="demo_status" jdbcType="INTEGER" property="demoStatus" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="demo_name" jdbcType="VARCHAR" property="demoName" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.bishe.main.entity.ProjectDemo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="demo_info" jdbcType="VARCHAR" property="demoInfo" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="demo_url" jdbcType="VARCHAR" property="demoUrl" />
    <result column="demo_down_url" jdbcType="VARCHAR" property="demoDownUrl" />
    <result column="demo_status" jdbcType="INTEGER" property="demoStatus" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="demo_name" jdbcType="VARCHAR" property="demoName" />
    <association property="user" javaType="com.bishe.main.entity.User">
      <id column="user_id" jdbcType="VARCHAR" property="userId" />
      <result column="user_visual_name" jdbcType="VARCHAR" property="userVisualName" />
      <result column="user_head_pic" jdbcType="VARCHAR" property="userHeadPic" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    id, demo_info, user_id, demo_url, demo_down_url, demo_status, project_id, upload_time, 
    demo_name
  </sql>

  <select id="getMineProjectDemos" parameterType="com.bishe.main.params.ProjectDemoParms" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_project_demo
    where project_id = #{projectId, jdbcType=INTEGER}
    and user_id = #{userId, jdbcType=VARCHAR}
  </select>

  <select id="getNotMineProjectDemos" parameterType="com.bishe.main.params.ProjectDemoParms" resultMap="BaseResultMap2">
    select
    d.*, u.user_visual_name, u.user_head_pic
    from tb_project_demo d, tb_user u
    where d.project_id = #{projectId, jdbcType=INTEGER}
    and d.user_id != #{userId, jdbcType=VARCHAR}
    and u.user_id = d.user_id;
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_project_demo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_project_demo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.ProjectDemo" useGeneratedKeys="true">
    insert into tb_project_demo (demo_info, user_id, demo_url, 
      demo_down_url, demo_status, project_id, 
      upload_time, demo_name)
    values (#{demoInfo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{demoUrl,jdbcType=VARCHAR}, 
      #{demoDownUrl,jdbcType=VARCHAR}, #{demoStatus,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{demoName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.ProjectDemo" useGeneratedKeys="true">
    insert into tb_project_demo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="demoInfo != null">
        demo_info,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="demoUrl != null">
        demo_url,
      </if>
      <if test="demoDownUrl != null">
        demo_down_url,
      </if>
      <if test="demoStatus != null">
        demo_status,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="demoName != null">
        demo_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="demoInfo != null">
        #{demoInfo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="demoUrl != null">
        #{demoUrl,jdbcType=VARCHAR},
      </if>
      <if test="demoDownUrl != null">
        #{demoDownUrl,jdbcType=VARCHAR},
      </if>
      <if test="demoStatus != null">
        #{demoStatus,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demoName != null">
        #{demoName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.ProjectDemo">
    update tb_project_demo
    <set>
      <if test="demoInfo != null">
        demo_info = #{demoInfo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="demoUrl != null">
        demo_url = #{demoUrl,jdbcType=VARCHAR},
      </if>
      <if test="demoDownUrl != null">
        demo_down_url = #{demoDownUrl,jdbcType=VARCHAR},
      </if>
      <if test="demoStatus != null">
        demo_status = #{demoStatus,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demoName != null">
        demo_name = #{demoName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.ProjectDemo">
    update tb_project_demo
    set demo_info = #{demoInfo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      demo_url = #{demoUrl,jdbcType=VARCHAR},
      demo_down_url = #{demoDownUrl,jdbcType=VARCHAR},
      demo_status = #{demoStatus,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      demo_name = #{demoName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>