<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.SelectTitleMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.SelectTitle">
    <id column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="title_content" jdbcType="VARCHAR" property="titleContent" />
    <result column="title_answer" jdbcType="VARCHAR" property="titleAnswer" />
    <result column="title_hard" jdbcType="INTEGER" property="titleHard" />
    <result column="title_author" jdbcType="VARCHAR" property="titleAuthor" />
    <result column="title_type" jdbcType="INTEGER" property="titleType" />
    <result column="title_right" jdbcType="INTEGER" property="titleRight" />
    <result column="title_count" jdbcType="INTEGER" property="titleCount" />
    <result column="title_create_time" jdbcType="TIMESTAMP" property="titleCreateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    title_id, title_name, title_content, title_answer, title_hard, title_author, title_type, 
    title_right, title_count, title_create_time
  </sql>
  <select id="selectByExample" parameterType="com.bishe.main.entity.SelectTitleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_select_title
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_select_title
    where title_id = #{titleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_select_title
    where title_id = #{titleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.main.entity.SelectTitle">
    insert into tb_select_title (title_id, title_name, title_content, 
      title_answer, title_hard, title_author, 
      title_type, title_right, title_count, 
      title_create_time)
    values (#{titleId,jdbcType=INTEGER}, #{titleName,jdbcType=VARCHAR}, #{titleContent,jdbcType=VARCHAR}, 
      #{titleAnswer,jdbcType=VARCHAR}, #{titleHard,jdbcType=INTEGER}, #{titleAuthor,jdbcType=VARCHAR}, 
      #{titleType,jdbcType=INTEGER}, #{titleRight,jdbcType=INTEGER}, #{titleCount,jdbcType=INTEGER}, 
      #{titleCreateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bishe.main.entity.SelectTitle">
    insert into tb_select_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="titleId != null">
        title_id,
      </if>
      <if test="titleName != null">
        title_name,
      </if>
      <if test="titleContent != null">
        title_content,
      </if>
      <if test="titleAnswer != null">
        title_answer,
      </if>
      <if test="titleHard != null">
        title_hard,
      </if>
      <if test="titleAuthor != null">
        title_author,
      </if>
      <if test="titleType != null">
        title_type,
      </if>
      <if test="titleRight != null">
        title_right,
      </if>
      <if test="titleCount != null">
        title_count,
      </if>
      <if test="titleCreateTime != null">
        title_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="titleId != null">
        #{titleId,jdbcType=INTEGER},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="titleContent != null">
        #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="titleAnswer != null">
        #{titleAnswer,jdbcType=VARCHAR},
      </if>
      <if test="titleHard != null">
        #{titleHard,jdbcType=INTEGER},
      </if>
      <if test="titleAuthor != null">
        #{titleAuthor,jdbcType=VARCHAR},
      </if>
      <if test="titleType != null">
        #{titleType,jdbcType=INTEGER},
      </if>
      <if test="titleRight != null">
        #{titleRight,jdbcType=INTEGER},
      </if>
      <if test="titleCount != null">
        #{titleCount,jdbcType=INTEGER},
      </if>
      <if test="titleCreateTime != null">
        #{titleCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.SelectTitle">
    update tb_select_title
    <set>
      <if test="titleName != null">
        title_name = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="titleContent != null">
        title_content = #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="titleAnswer != null">
        title_answer = #{titleAnswer,jdbcType=VARCHAR},
      </if>
      <if test="titleHard != null">
        title_hard = #{titleHard,jdbcType=INTEGER},
      </if>
      <if test="titleAuthor != null">
        title_author = #{titleAuthor,jdbcType=VARCHAR},
      </if>
      <if test="titleType != null">
        title_type = #{titleType,jdbcType=INTEGER},
      </if>
      <if test="titleRight != null">
        title_right = #{titleRight,jdbcType=INTEGER},
      </if>
      <if test="titleCount != null">
        title_count = #{titleCount,jdbcType=INTEGER},
      </if>
      <if test="titleCreateTime != null">
        title_create_time = #{titleCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where title_id = #{titleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.SelectTitle">
    update tb_select_title
    set title_name = #{titleName,jdbcType=VARCHAR},
      title_content = #{titleContent,jdbcType=VARCHAR},
      title_answer = #{titleAnswer,jdbcType=VARCHAR},
      title_hard = #{titleHard,jdbcType=INTEGER},
      title_author = #{titleAuthor,jdbcType=VARCHAR},
      title_type = #{titleType,jdbcType=INTEGER},
      title_right = #{titleRight,jdbcType=INTEGER},
      title_count = #{titleCount,jdbcType=INTEGER},
      title_create_time = #{titleCreateTime,jdbcType=TIMESTAMP}
    where title_id = #{titleId,jdbcType=INTEGER}
  </update>
</mapper>