<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.SubmitRecordMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.SubmitRecord">
    <id column="submit_id" jdbcType="BIGINT" property="submitId" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="submit_problem_id" jdbcType="BIGINT" property="submitProblemId" />
    <result column="submit_user_id" jdbcType="VARCHAR" property="submitUserId" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="is_accepted" jdbcType="BIT" property="isAccepted" />
    <result column="code_language" jdbcType="VARCHAR" property="codeLanguage" />
    <result column="code_file_path" jdbcType="VARCHAR" property="codeFilePath" />
    <result column="submit_record_table_name" jdbcType="VARCHAR" property="submitRecordTableName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bishe.main.entity.SubmitRecord">
    <result column="details" jdbcType="LONGVARCHAR" property="details" />
  </resultMap>
  <sql id="Base_Column_List">
    submit_id, submit_time, submit_problem_id, submit_user_id, score, is_accepted, code_language, 
    code_file_path, submit_record_table_name
  </sql>
  <sql id="Blob_Column_List">
    details
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from submit_record
    where submit_id = #{submitId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from submit_record
    where submit_id = #{submitId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bishe.main.entity.SubmitRecord">
    insert into submit_record (submit_id, submit_time, submit_problem_id, 
      submit_user_id, score, is_accepted, 
      code_language, code_file_path, submit_record_table_name, 
      details)
    values (#{submitId,jdbcType=BIGINT}, #{submitTime,jdbcType=TIMESTAMP}, #{submitProblemId,jdbcType=BIGINT}, 
      #{submitUserId,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{isAccepted,jdbcType=BIT}, 
      #{codeLanguage,jdbcType=VARCHAR}, #{codeFilePath,jdbcType=VARCHAR}, #{submitRecordTableName,jdbcType=VARCHAR}, 
      #{details,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bishe.main.entity.SubmitRecord">
    insert into submit_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="submitId != null">
        submit_id,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="submitProblemId != null">
        submit_problem_id,
      </if>
      <if test="submitUserId != null">
        submit_user_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="isAccepted != null">
        is_accepted,
      </if>
      <if test="codeLanguage != null">
        code_language,
      </if>
      <if test="codeFilePath != null">
        code_file_path,
      </if>
      <if test="submitRecordTableName != null">
        submit_record_table_name,
      </if>
      <if test="details != null">
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="submitId != null">
        #{submitId,jdbcType=BIGINT},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitProblemId != null">
        #{submitProblemId,jdbcType=BIGINT},
      </if>
      <if test="submitUserId != null">
        #{submitUserId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="isAccepted != null">
        #{isAccepted,jdbcType=BIT},
      </if>
      <if test="codeLanguage != null">
        #{codeLanguage,jdbcType=VARCHAR},
      </if>
      <if test="codeFilePath != null">
        #{codeFilePath,jdbcType=VARCHAR},
      </if>
      <if test="submitRecordTableName != null">
        #{submitRecordTableName,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.SubmitRecord">
    update submit_record
    <set>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitProblemId != null">
        submit_problem_id = #{submitProblemId,jdbcType=BIGINT},
      </if>
      <if test="submitUserId != null">
        submit_user_id = #{submitUserId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="isAccepted != null">
        is_accepted = #{isAccepted,jdbcType=BIT},
      </if>
      <if test="codeLanguage != null">
        code_language = #{codeLanguage,jdbcType=VARCHAR},
      </if>
      <if test="codeFilePath != null">
        code_file_path = #{codeFilePath,jdbcType=VARCHAR},
      </if>
      <if test="submitRecordTableName != null">
        submit_record_table_name = #{submitRecordTableName,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where submit_id = #{submitId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bishe.main.entity.SubmitRecord">
    update submit_record
    set submit_time = #{submitTime,jdbcType=TIMESTAMP},
      submit_problem_id = #{submitProblemId,jdbcType=BIGINT},
      submit_user_id = #{submitUserId,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      is_accepted = #{isAccepted,jdbcType=BIT},
      code_language = #{codeLanguage,jdbcType=VARCHAR},
      code_file_path = #{codeFilePath,jdbcType=VARCHAR},
      submit_record_table_name = #{submitRecordTableName,jdbcType=VARCHAR},
      details = #{details,jdbcType=LONGVARCHAR}
    where submit_id = #{submitId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.SubmitRecord">
    update submit_record
    set submit_time = #{submitTime,jdbcType=TIMESTAMP},
      submit_problem_id = #{submitProblemId,jdbcType=BIGINT},
      submit_user_id = #{submitUserId,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      is_accepted = #{isAccepted,jdbcType=BIT},
      code_language = #{codeLanguage,jdbcType=VARCHAR},
      code_file_path = #{codeFilePath,jdbcType=VARCHAR},
      submit_record_table_name = #{submitRecordTableName,jdbcType=VARCHAR}
    where submit_id = #{submitId,jdbcType=BIGINT}
  </update>
</mapper>