<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.main.dao.UniversityMapper">
  <resultMap id="BaseResultMap" type="com.bishe.main.entity.University">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="univer_name" jdbcType="VARCHAR" property="univerName" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="title_num" jdbcType="INTEGER" property="titleNum" />
    <result column="univer_img" jdbcType="VARCHAR" property="univerImg" />
    <result column="univer_url" jdbcType="VARCHAR" property="univerUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, univer_name, city_id, title_num, univer_img, univer_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_university
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getByCityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_university
    where city_id = #{city_id, jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_university
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.University" useGeneratedKeys="true">
    insert into tb_university (univer_name, city_id, title_num, 
      univer_img, univer_url)
    values (#{univerName,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{titleNum,jdbcType=INTEGER}, 
      #{univerImg,jdbcType=VARCHAR}, #{univerUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bishe.main.entity.University" useGeneratedKeys="true">
    insert into tb_university
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="univerName != null">
        univer_name,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="titleNum != null">
        title_num,
      </if>
      <if test="univerImg != null">
        univer_img,
      </if>
      <if test="univerUrl != null">
        univer_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="univerName != null">
        #{univerName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="titleNum != null">
        #{titleNum,jdbcType=INTEGER},
      </if>
      <if test="univerImg != null">
        #{univerImg,jdbcType=VARCHAR},
      </if>
      <if test="univerUrl != null">
        #{univerUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.main.entity.University">
    update tb_university
    <set>
      <if test="univerName != null">
        univer_name = #{univerName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="titleNum != null">
        title_num = #{titleNum,jdbcType=INTEGER},
      </if>
      <if test="univerImg != null">
        univer_img = #{univerImg,jdbcType=VARCHAR},
      </if>
      <if test="univerUrl != null">
        univer_url = #{univerUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.main.entity.University">
    update tb_university
    set univer_name = #{univerName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      title_num = #{titleNum,jdbcType=INTEGER},
      univer_img = #{univerImg,jdbcType=VARCHAR},
      univer_url = #{univerUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>